@keyframes zoomout {
  0% {
    height: 100%;
    width: 100%;
  }

  100% {
    height: 200%;
    width: 200%;
  }
}

header {
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
  padding: 10px 0px;
  text-align: center;
}

.Antet_Imob {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
  position: relative;
  top: 0px;
  left: 0px;
  background-color: rgb(255, 255, 255);
  margin: 0px;
  padding: 0px;
  border-bottom: 0.1cm solid rgb(253, 200, 0);
  width: 100%;
  height: 3.4cm;
  box-shadow: rgba(0, 0, 0, 0.37) 0cm 2mm 2mm;
}

.stanga {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.dreapta {
  margin-right: 0.7cm;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

#HamburgerButton {
  /* display: none; */
  position: relative;
  margin-right: 1.4cm;
  transform: scale(1.5);
  /* height: 56%; */
  /* display: flex; */
}

.Contacte {
  position: relative;
  width: 100%;
  margin-bottom: 0.56cm;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 0.5cm;
}

.Contacte * {
  display: flex;
  align-items: center;
  font-size: 4.9mm;
  color: inherit;
  text-decoration: none;
}

.Contacte img {
  aspect-ratio: 1/1;
  position: relative;
  margin-right: 0.2cm;
  width: 0.58cm;
  object-fit: contain;
}

.Contacte a:hover {
  text-decoration: underline;
}

.Logo {
  margin-left: 0.5cm;
  display: flex;
  align-items: center;
}

.Logo img {
  position: relative;
  height: 2.7cm;
  width: 2.7cm;
  object-fit: contain;
}

.Denumirea {
  position: inherit;
  top: 2%;
  margin-left: 0.5cm;
  display: flex;
  align-items: center;
}

.Denumirea img {
  position: relative;
  height: 3cm;
  width: 8cm;
  object-fit: contain;
}

.Butons {
  position: relative;
  right: 10px;
  margin-left: 0.3cm;
  display: flex;
  justify-content: left;
  align-items: center;
  bottom: 0.01cm;
  border-right: none;
  border-bottom: none;
  border-left: none;
  border-image: initial;
  gap: 0px;
  border-top: 2px solid rgb(204, 204, 204) !important;
}

.Butons button {
  height: 1.6cm;
  width: 3.4cm;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  font-size: 6mm;
  cursor: pointer;
  text-decoration: none;
  transition: text-decoration 0.9s ease 0s;
  position: relative;
}

.Butons button:hover {
  text-decoration: underline;
}

.contcatns_container {
  top: 0px;
  background-color: rgb(51, 51, 51);
  display: none;
  z-index: 20;
}

.contcatns {
  position: relative;
  width: 100%;
  height: 2rem;
  min-height: 2vh;
  max-height: 5vh;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1cm;
}

.contcatns * {
  font-size: 120%;
  width: auto;
  color: rgb(204, 204, 204);
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  text-decoration: none;
}

.contcatns img {
  position: relative;
  margin-right: 0.2cm;
  top: 0%;
  height: 90%;
  width: auto;
  object-fit: contain;
  filter: invert(70%);
}

.contcatns a:hover {
  text-decoration: underline;
}

.admitere_butons {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: 0cm;
  overflow: clip;
  border-bottom: 0mm solid rgb(204, 204, 204);
  transition: all 200ms ease 0s;
}

.admitere_butons button {
  height: 1.15cm;
  min-height: 1.15cm;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: none;
}

.admitere_butons a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: none;
  border-bottom: none;
  border-left: none;
  border-image: initial;
  width: 100%;
  height: 100%;
  border-top: 2px solid rgb(204, 204, 204) !important;
}

.admitere_butons button:hover {
  cursor: pointer;
  text-decoration: underline 0.4mm;
}

.admitere_butons.active {
  border-bottom: 1mm solid rgb(253, 200, 0);
  height: 2.3cm !important;
}

.elevi_butons {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: 0cm;
  overflow: clip;
  border-bottom: 0mm solid rgb(204, 204, 204);
  transition: all 400ms ease 0s;
}

.elevi_butons button {
  height: 1.15cm;
  min-height: 1.15cm;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: none;
}

.elevi_butons a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: none;
  border-bottom: none;
  border-left: none;
  border-image: initial;
  width: 100%;
  height: 100%;
  border-top: 2px solid rgb(204, 204, 204) !important;
}

.elevi_butons button:hover {
  cursor: pointer;
  text-decoration: underline 0.4mm;
}

.elevi_butons.active {
  border-bottom: 1mm solid rgb(253, 200, 0);
  height: 6.9cm !important;
}

.desrpe_butons {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: 0cm;
  overflow: clip;
  border-bottom: 0mm solid rgb(204, 204, 204);

  transition: all 300ms ease 0s;
}

.desrpe_butons button {
  height: 1.15cm;
  min-height: 1.15cm;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: none;
}

.desrpe_butons a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: none;
  border-bottom: none;
  border-left: none;
  border-image: initial;
  width: 100%;
  height: 100%;
  border-top: 2px solid rgb(204, 204, 204) !important;
}

.desrpe_butons button:hover {
  cursor: pointer;
  text-decoration: underline 0.4mm;
}

.desrpe_butons.active {
  border-bottom: 1mm solid rgb(253, 200, 0);

  height: 3.45cm !important;
}

.sub_class_buttons {
  font-weight: 200;
}

.mobileNav {
  display: none;
  flex-direction: column;
  background-color: #fff;
  position: absolute;
  top: calc(2rem + 3.4cm);
  width: 100%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  border-bottom: 0.1cm solid rgb(253, 200, 0);
}

.mobileNav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mobileNav ul li {
  border-bottom: 1px solid #ddd;
}

.mobileNav ul li a {
  display: block;
  padding: 3svw;
  font-size: 3svw;
  text-decoration: none;
  color: #333;
}

.mobileNav ul li a:hover {
  background-color: #f0f0f0;
}

.dropdown-content {
  display: none;
  flex-direction: column;
  padding-left: 20px;
}

.dropdown-content li {
  border: none;
}

@media (max-width: 1000px) {
  .Antet_Imob {
    height: 13.3svw;
  }
}
