.de_ce_caragiale {
  z-index: 600;
  background-color: rgb(255, 255, 255);
  height: auto;
  width: 100%;
  padding-top: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 2cm;
  box-shadow: black 0px 1mm 5mm 0mm;
}

.argumente {
  width: calc(100% - 113.386px);
  max-width: 49cm;
  display: grid;
  flex-direction: column;
  align-content: space-around;
  justify-items: stretch;
  margin-top: 20px;
}

.argument_stanga {
  max-width: 26cm;
  border: 6px solid rgb(255, 200, 0);
  border-radius: 80px;
  box-shadow: rgb(0, 0, 0) 1px 1px 8px 0px;
  display: flex;
  align-items: center;
  height: 190px;
  margin-bottom: 80px;
  margin-left: -1cm;
  transform: scale(0.9);
  transition: all 0.3s ease 0s;
  overflow: hidden;
  flex-direction: column;
}

.argument_stanga:hover {
  cursor: pointer;
  box-shadow: rgb(0, 0, 0) 1px 1px 12px 0px;
  transform: scale(0.909);
}

.argument_dreapta {
  justify-self: right;
  max-width: 27cm;
  border: 6px solid rgb(255, 200, 0);
  border-radius: 80px;
  box-shadow: rgb(0, 0, 0) 1px 1px 8px 0px;
  display: flex;
  align-items: center;
  height: 190px;
  flex-direction: column;
  margin-bottom: 80px;
  margin-right: -1cm;
  transform: scale(0.9);
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

.argument_dreapta:hover {
  cursor: pointer;
  box-shadow: rgb(0, 0, 0) 1px 1px 12px 0px;
  transform: scale(0.909);
}

.resized {
  transform: scale(0.95);
  height: 400px;
  transition: all 0.3s ease 0s;
}

.arg_title_s {
  width: 100%;
  height: 190px;
  display: flex;
  flex-direction: row;
  place-content: center flex-start;
  align-items: center;
}

.arg_title_d {
  width: 100%;
  height: 190px;
  display: flex;
  flex-direction: row-reverse;
  place-content: center flex-start;
  align-items: center;
}

#circle {
  float: left;
  width: 5cm;
  height: 5cm;
  margin: 5mm;
  shape-outside: circle();
  background: rgb(204, 204, 204);
  display: flex;
  place-content: center;
  align-items: center;
  border: 1.4mm dashed rgb(18, 22, 25);
  border-radius: 50%;
}

.nr_arg {
  color: rgb(18, 22, 25);
  font-size: 4.1cm;
  margin-left: 49.2px;
  margin-right: 32.2px;
  font-family: sans-serif;
  font-weight: bolder;
}

.arg_title_d h1 {
  margin-right: 49.2px;
  margin-left: 32.2px;
}

.argumente h2 {
  font-size: 1.4cm;
  color: rgb(41, 41, 41);
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-wrap: balance;
}

.argumente h3 {
  font-size: 0.9cm;
  color: rgb(41, 41, 41);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 1mm;
  margin-top: 0mm;
  width: 90%;
}

.argument_dreapta #circle {
  float: right;
  width: 5cm;
  height: 5cm;
  margin: 20px;
  shape-outside: circle();
  background: rgb(204, 204, 204);
  display: flex;
  place-content: center;
  align-items: center;
  border: 1.4mm dashed rgb(18, 22, 25);
  border-radius: 50%;
}

.argument_dreapta h2 {
  text-align: right;
  width: 82.9%;
}

.argument_dreapta h3 {
  text-align: right;
}

.argument_dreapta::after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 1000px) {
  .de_ce_caragiale {
      display: none;
  }
}
