#burger_butons {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  height: 0px;
  transition: 2s ease-in-out;
  -webkit-transition: 0.8s ease;
  z-index: 2;
  width: 100%;
}

#burger_butons button {
  background-color: #ffffff;
  width: 90%;
  height: 3.6cm;
  min-height: 3.6cm;
  font-size: 1cm;
  border: none;
  border-bottom: 0.1cm solid #333;
}

#burger_butons button * {
  margin-left: 2svw;
}

.burger_butons  {
  height: 100svh !important;
  display: flex;
}

.lists
{
  width: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lists button {
  background: #eeeeee !important;
}
