
*{
  box-sizing: border-box;
}

.infotiled {
  position: relative;
  height: calc(100svh - 13.3svw - 2rem);
  width: 100vw;
  overflow: hidden;
  display: none;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.text_ph {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px; /* Add padding as needed */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  animation: blurin 0.8s ease-in-out 1s 1 forwards;
  align-content: center;
}

.text_ph h1 {
  color: rgb(255 202 0);
  /* text-decoration: underline #fdc800; */
  top: 0px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 1000;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 18.9svw;
  margin-bottom: 1cm;
  z-index: 2;
  font-size: 10.6svw;
  opacity: 0;
}

.animated.text_ph h1 {
  animation: uprise 400ms ease-in-out 1.7s 1 forwards;
}

.text_ph h2 {
  color: rgb(255 202 0);
  /* text-decoration: underline #fdc800; */
  top: 0px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 1000;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: -8.2svw;
  margin-bottom: 1cm;
  z-index: 2;
  font-size: 8.4svw;
  opacity: 0;
}


.animated.text_ph h2 {
  animation: uprise 400ms ease-in-out 2.3s 1 forwards;
}
.text_ph h3 {
  top: 0;
  font-size: 3.3rem;
  color: rgb(41, 41, 41);
  top: 0px;
  text-align: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 1mm;
  margin-top: 0svw;
  text-align: justify;
  width: 76.3svw;
  color: #fbfbf9;
  display: block;
   opacity: 0; 
   transition: all 0.4s;
   transition-delay: 2.6s;
}
.animated.text_ph h3
{
  opacity: 1;
}

.char{
  font-size: 40px;
  height: 40px;
  display: inline-block;
  opacity: 0;

  animation-delay: 2s;
  animation: an 1s ease-out 1 both;
}

.infotiled_img img {
  display: block;
  height: 100%;
  align-self: center;
}

.infotiled_img {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

@keyframes blurin {
  from {
    background: rgba(0, 0, 0, 0);

    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }
  to {
    background: rgb(26 26 26 / 7%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
}

@keyframes uprise {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes an{
  from{
      opacity: 0;
      transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
  }
  to{
      opacity: 1;
      transform: perspective(500px) translate3d(0, 0, 0);
  }
}

@media (max-width: 1000px) {
  .infotiled {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
}
