* {
  box-sizing: border-box;
}

.infotiled {
  position: relative;
  height: calc(100svh - 13.3svw - 2rem);
  width: 100vw;
  overflow: hidden;
  display: none;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.text_ph {
  text-align: center;
  padding: 20px; /* Add padding as needed */
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.text_ph h1 {
  font-size: 10svw;
  color: #2a2a2a;
  text-decoration: underline #fdc800;
  top: 0px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: -4svw;
  margin-bottom: 0svw;
  z-index: 2;
}



.text_ph h2 {
  font-size: 8svw;
  color: #2a2a2a;
  text-decoration: underline #fdc800;
  text-align: center;
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  z-index: 2;
  margin-top: -2svw;
}
.text_ph h3 {
  top: 0;
  font-size: 5svw;
  color: rgb(41, 41, 41);
  top: 0px;
  text-align: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 1mm;
  margin-top: 0svw;
  text-align: center;
  width: 80svw;
  color: #6e6e67;
  display: block;
  opacity: 1;
}

.infotiled_img img {
  width: 98%;
  aspect-ratio: 1/1;
  align-self: center;
  border-radius: 100cm;
  border: 1svw rgb(253, 200, 0) solid;
}

.infotiled_img {
  border: 0.5svw rgb(253, 200, 0) dashed;
  /* width: 83svw; */
  height: 83svw;
  aspect-ratio: 1/1;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 100cm;
  margin: 6svw;
  /* color: rgb(253, 200, 0); */
  /* border: 1svw dashed; */
}

@keyframes blurin {
  from {
    background: rgba(0, 0, 0, 0);

    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }
  to {
    background: rgb(26 26 26 / 7%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
}

@keyframes uprise {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes an {
  from {
    opacity: 0;
    transform: perspective(500px) translate3d(-35px, -40px, -150px)
      rotate3d(1, -1, 0, 35deg);
  }
  to {
    opacity: 1;
    transform: perspective(500px) translate3d(0, 0, 0);
  }
}

/*@media (max-width: 1000px) {
  .infotiled {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
}*/

@media only screen and (orientation: portrait) and (max-width: 1000px) {
  .infotiled {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
  }
  .downButon_inf {
    aspect-ratio: 1/1;
    width: 18.5svw;
    /* height: 5svw; */
    position: relative;
    border-radius: 100%;
    opacity: 1;
    margin-top: 10svw;
  }
  .downButon_inf img {
    height: 65%;
    width: 65%;
    object-fit: contain;
  }
}
