body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: #333;
  margin: 0;
  padding: 0;
  border: 0;
}

.Continut {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.Continut * {
  border: 0;
}

.fimag{
  height: 0px;
  width: 0px;
  display: none !important;
  position: absolute !important;
}