.backButon {
  z-index: 10;
  position: absolute;
  background-color: #00000000;
  height: 2.4cm;
  width: 2cm;
  left: 0px;
  top: calc(50% - 1.2cm);
  transition: 0.2s ease-in-out;
}

.backButon:hover {
  cursor: pointer;
  height: 2.4cm;
  width: 2.5cm;
}

.backButon img {
  height: 60%;
  width: 60%;
  object-fit: contain;
}

.backButons:hover img {
  height: 10%;
  width: 10%;
}

.nextButon {
  z-index: 10;
  position: absolute;
  background-color: #00000000;
  height: 2.4cm;
  width: 2cm;
  right: 0px;
  top: calc(50% - 1.2cm);
  transition: 0.2s ease-in-out;
}

.nextButon:hover {
  cursor: pointer;
  height: 2.4cm;
  width: 2.5cm;
}

.nextButon img {
  height: 60%;
  width: 60%;
  object-fit: contain;
}

.image_Show {
  position: relative;
  width: 100%;
  min-height: 42vw;
  height: 16cm;
  background-color: #000000;
  overflow-x: hidden;
}

.slide {
  /*box-shadow: inset 1cm 0cm gold;
    */
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  right: -100%;
  transition: 0s ease-in-out;
}

.slide.slidein {
  display: flex;
  right: 0%;
  transition: 0s linear;
  -webkit-transition: 0s ease-in-out;
  -moz-transition: 0s linear;
  -ms-transition: 0s linear;
  -o-transition: 0s linear;
}

.slide.slideout {
  display: flex;
  right: 100%;
  transition: 0s ease-in-out;
}

.slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 50%;
  right: 50%;
  outline-color: black;
  opacity: 0.4;
}

/* .slide.slidein img {
    animation: zoomout 4s linear;
  } */

/* .img2 {
    position: relative;
    width: 100%;
    height: 16.5cm;
  }
  
  .img2 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    outline-color: black;
    opacity: 0.4;
  }
  
  .img3 {
    position: relative;
    width: 100%;
    height: 16.5cm;
  }
  
  .img3 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    outline-color: black;
    opacity: 0.4;
  } */

.text {
  position: absolute;
  height: auto;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.text h1 {
  font-size: 1.6cm;
  color: rgb(253, 200, 0);
  vertical-align: text-bottom;
  height: 1.4cm;
  top: 10px;
}

.text h2 {
  text-align: text-top;
  font-size: 0.8cm;
  color: #ffffff;
}

.text button {
  cursor: pointer;
  z-index: 1;
  width: 6cm;
  height: 1.6cm;
  font-size: 0.6cm;
  color: #fdc800;
  border: 0.1cm solid #fdc800;
  border-radius: 0.4cm;
  background: #ffffff12;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(20px);
  transition: 0.2s ease-in-out;
  box-shadow: inset 0cm 0cm 0cm 0cm #fdc800;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}

.text button:hover {
  color: #ffffff;
  /* background: #fdc800; Culori folosite la hover */
  background-position: center;
  background-size: 200%;
  box-shadow: inset 0cm 0cm 0cm 1cm #fdc800;
}

.text button.clicked {
  background: #ffffff12;
  color: #fdc800;
}
