.statistici {
  position: relative;
  width: 100%;
  height: 15.3cm;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  /*background-image: url('/images/Boocks.webp') !important;
  /*Adjustthepathbasedonyourfolderstructurebackground-size: contain !important;
  background-position-x: center !important;
  background-position-y: static !important;
  */z-index: 9;
  /*backdrop-filter: blur(6px);
  */justify-content: center;
  

}

.stat_backround
{
  position: absolute;
  width: inherit; 
  height: inherit;
  filter: blur(6px);
  -webkit-filter: blur(6px);
  background-image: url("./images/caragiale.jpg");
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

/* .title_show {
  font-size: 1.6cm;
  width: 100%;
  color: rgb(41, 41, 41);
  text-decoration: underline 0.8mm rgb(253, 200, 0);
  text-align: left;
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin-top: 2cm;
    margin-bottom: 1cm;
} */

.stat_holder {
  width: 100%;
  height: 13cm;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;

}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4cm;
  height: 6cm;
  
}

.stat img {
  max-width: 100%;
  max-height: 100%;
  filter: invert(0.9);
  -webkit-filter: invert(0.9);
}

.stat h2 {
  text-align: center;
  margin-top: 6mm;
  margin-bottom: 3mm;
  font-size: 4.3rem;
  color: #ebebeb;
  z-index: 2;
}

.stat h3 {
  text-align: center;
  font-size: 3rem;
  margin-top: -4.2mm;
  margin-bottom: 0mm;
  color: #b7b7b7;
  text-wrap: nowrap;
  z-index: 2;
}

.backround_image_desktop {
  position: fixed;
  width: 100%;
  bottom: -1mm;

  z-index: -2;
}

.backround_image_desktop img {
  object-fit: contain;
  width: 100%;
  
}

.backround_image_phone {
  position: fixed;
  height: 100%;
  min-width: 100%;
  bottom: 0%;

  z-index: -1;
}

.backround_image_phone img {
  object-fit: contain;
  height: 100%;
  min-width: 100%;
}
