:root {
  --inaltime: 10%;
}

.subsol {
  width: 100%;
  height: 10cm;
  bottom: 0px;
  position: sticky;
  z-index: 0;
  background-color: rgb(87, 88, 92);
  display: flex;
  place-content: center;
  align-items: center;
  flex-direction: column;
}

.container_subsol {
  height: 100%;
  width: 100%;
  max-width: 63cm;
  display: flex;
  place-content: center space-evenly;
  align-items: flex-start;
  justify-self: center;
}

.linkuri_externe_list {
  color: rgb(255, 255, 255);
  font-size: 5.6mm;
}

.linkuri_externe_list li {
  margin-bottom: 4mm;
}

.linkuri_externe_list li:hover {
  color: rgb(253, 200, 0);
  text-decoration: underline;
  cursor: pointer;
}

.subsol h1 {
  color: rgb(255, 255, 255);
}

.linkuri_externe {
  position: relative;
  top: var(--inaltime);
}

.butnons_container {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  gap: 4.5mm;
}

.contcate_subsol {
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3mm;
  top: var(--inaltime);
}

.contcate_subsol * img {
  object-fit: contain;
  height: 1cm;
  filter: invert(1);
}

.contcate_subsol * {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(255, 255, 255);
}

.contcate_subsol_container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  gap: 6mm;
}

.contcate_subsol a {
  margin-left: 4mm;
  font-size: 5.6mm;
}

.retele_sociale {
  position: relative;
  top: var(--inaltime);
}

.retele_sociale button {
  height: 1.5cm;
  width: 5.5cm;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  border-radius: 3mm;
}

.retele_sociale button img {
  margin-left: 0.6mm;
  height: 78%;
  width: auto;
  object-fit: cover;
}

.retele_sociale h2 {
  width: 100%;
  height: 100%;
  font-size: 7mm;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: rgb(255, 255, 255) !important;
}

.facebook_subsol {
  background-color: rgb(59, 89, 152);
  transition: all 200ms ease-in-out 0s;
}

.instagram_subsol {
  background: linear-gradient(45deg, rgb(240, 148, 51) 0%, rgb(230, 104, 60) 25%, rgb(220, 39, 67) 50%, rgb(204, 35, 102) 75%, rgb(188, 24, 136) 100%);
  transition: all 400ms ease-in-out 0s;
}

.facebook_subsol:hover {
  box-shadow: rgb(52, 94, 184) 0mm 0mm 5mm 1mm;
  cursor: pointer;
}

.instagram_subsol:hover {
  box-shadow: rgb(240, 148, 51) 3px -7px 25px 0px, rgb(230, 104, 60) 3px 10px 15px 0px, rgb(220, 39, 67) -10px -3px 15px 2px, rgb(188, 24, 136) -5px 3px 5px 0px, rgb(204, 35, 102) 9px -3px 15px 4px;
  cursor: pointer;
}

.map_container {
  position: relative;
  top: 8%;
  height: 85%;
  aspect-ratio: 1 / 1;
  width: auto !important;
}

.map_container iframe {
  height: 100%;
  width: 100%;
  border-radius: 2mm;
  border: none !important;
}

@media (max-width: 1000px) {
  .subsol {
      flex-direction: column;
      height: auto;
      position: relative;
  }

  .container_subsol {
      flex-direction: column;
      width: 85%;
      height: 90%;
      display: grid !important;
      justify-content: start;
      justify-items: stretch;
  }

  .subsol h1 {
      font-size: 6svw;
      margin-bottom: 2svw;
  }

  .linkuri_externe_list li {
      font-size: 4.2svw;
  }

  .retele_sociale button {
      height: 13.5svw;
      width: 48svw;
      border-radius: 3.5svw 3.5svw 3.5svw 3.5svw / 3.5svw 3.5svw 3.5svw 3.5svw;
  }

  .retele_sociale h2 {
      font-size: 6svw;
  }

  .butnons_container {
      gap: 4svw;
  }

  .contcate_subsol a {
      font-size: 4.2svw;
  }

  .contcate_subsol * img {
      height: 6svw;
  }

  .contcate_subsol {
      margin-bottom: 6svw;
  }

  .map_container {
      height: 70%;
      aspect-ratio: 1 / 1;
  }
}

.copyright {
  height: 1.5cm;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(87, 88, 92);
  border-top: 1px solid rgba(212, 212, 212, 0.88);
  color: rgb(238, 240, 242);
  font-size: 100%;
  font-family: sans-serif;
  font-weight: 100;
}
